@model IEnumerable<sistemaDual.Models.CatalagoProyecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaConocimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTermino)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.FechaCambioEstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoDual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etapa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaConocimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTermino)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambioEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlumnoDual.AlumnoDualID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.EmpresaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
