@model sistemaDual.Models.AlumnoDual

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AlumnoDual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuatrimestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuatrimestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEgreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEgreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaContratado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaContratado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BecaDual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BecaDual.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramaEducativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramaEducativo.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
