@model sistemaDual.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentanteL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentanteL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio.DomicilioID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpresaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
