@model sistemaDual.Models.BecaDual

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BecaDual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periocidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periocidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BecaDUalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
