@model IEnumerable<sistemaDual.Models.BecaDual>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fuente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoBeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periocidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fuente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoBeca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periocidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BecaDUalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BecaDUalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BecaDUalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
